<div class="container">
  <%= @today %>
</div>
  <div class="container">
    <div class="row">
      <% @journal.each do |day| %>
        <div class="col-xs-4">
          <%= day.foods_eaten %>
          <%= day.symptoms %>
          <%= day.date %>
          <%= link_to 'Show', day %>
          <%= link_to 'Edit', edit_day_path(day) %>
          <%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'New', new_day_path %>
